*.exe
*.rar
*.txt
*.css
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

LEIA-ME PARA GIT.txt
eu.rtf
package.json
gruntfile.js
*sublime-project
*.sublime-workspace
.gitignore

referencias/
node_modules/
fontes/
img/
psd/
style/download
download/
