@azul: #9db9da;

@amarelo: #ffffcc;

@pink: #fed6fe;

body, html { 
	background: url("../img/me.jpg") no-repeat 50% 50% fixed;
	background-size: cover;
}

a {
	color:@azul;
}

/*

	onde entra o texto estilo código e conteúdo em geral

*/

div.code {
	h3 {
		color: @azul;
	}
	span.html {
		color: @azul;
	}
}

/*

	sections

*/

#sobre {
	ul li i {
		color: @azul;
	}
	div#tools {
		border-left: 1px solid @azul;
	}
}

#sobre {
	#nav .cell {
		color: @azul;
		border-top: 1px solid @azul;
		a {
			color: @azul;
		}
	}
}

#work {
	.overlay {
		a {
			color:@azul;
		}
	}
	ul#slidenav {
		li a {
			background-color:@azul;
		}
	}
	p.link {
		color:@azul;
	}
}

div#switch {
	span {
		i {
			color: @azul;
		}
	}
}

/*

	botão nav

*/

div#down {
	.tooltip {
		color: @azul;
	}
	a {
		color: @azul;
		border:2px solid @azul;
	}
}