@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

@azul: #9db9da;

@azulfundo: #506d8f;

.header_uppercase {
	text-transform: uppercase;
	font-size: .9em;
	line-height: 1.3em;
	font-weight: 700;
}

body, html { 
	margin: 0;
	height: 100%;
	background-size: cover;
	-webkit-font-smoothing: antialiased; /* evitar que as fontes sejam automaticamente bold no Mac. */
	font:16px/1.5em 'Open Sans', Helvetica, Arial, sans-serif;
	text-align: center;
}

div {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

/*

	divs animadas

*/

.panel {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 4;
	padding: 1px 0; /* evitar margin-collapsing */
	div.area {
		position: relative;
		padding: 0;
		width: 740px;
		margin: 0 auto;
		top: 15%;
	}
}

/*

	onde entra o texto estilo código e conteúdo em geral

*/

div.code {
	color: #fff;
	text-align: left;
	& > div {
		padding-left: 35px; /* estilo indentado */
	}
	h3 {
		font-size: 1.3em;
		margin: 0 0 30px;
		padding: 0;
		font-weight: 700;
	}
	span.selector {
		font-style: italic;
	}
	span.html {
		margin: 0 0 20px;
		padding: 0;
	}
}

/*

	botão nav

*/

div.down {
	position: absolute;
	bottom: 4%;
	width: 100%;
	text-align: center;
	z-index: 400;
	.tooltip {
		display: none;
		padding: 0;
		color: #fff;
		font-size: .8em;
		margin-bottom: 10px;
	}
	a {
		display: inline-block;
		text-decoration: none;
		padding: 5px;
		width: 18px;
		height: 18px;
		border-radius: 18px;
		line-height: 17px;
		border:2px solid @azul;
		color:@azul;
		&:hover {
			color:#fff!important;
			border-color: #fff;
		}
		i {
			line-height:.5em;
		}
	}
}

/*

	div com display table

*/

.col-wrap {
	display:table;
	border-collapse:collapse;
	width: 100%;
	.col-body {
		display:table-row;
		.cell {
			display:table-cell;
			width: 50%;
		}
	}
}

/*

	sections

*/

#main-panel {
	#mobile {
		display: none;
	}
	#full {
		display: block;
	}
	div.area {
		width: 380px;
		height: 170px;
		top: 35%;
		div.code {
			font-size: 1.6em;
			line-height: 1.4em;
		}
	}
}

#sobre {
	h4 {
		margin-top: 0;
		font-weight: 700;
		text-transform: uppercase;
		font-size: .9em;
	}
	.eu {
		display:none;
		min-height: 280px;
		position: relative;
		.back-to-bio {
			position: absolute;
			bottom: 0;
			right: 0;
			text-align: right;
			width: 100px;
			font-size: .9em;
			margin: 0;
			padding: 0;
		}
	}
	ul.nobull {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			padding: 0 0 5px;
		}
	}
	#nav {
		margin-right: -35px;
		margin-top: 20px;
		width: 100%;
		max-width: 705px;
		.cell {
			font-size: .9em;
			cursor: pointer;
			width: 25%!important;
			text-align: center;
			a {
				margin: 10px;
				display: inline-block;
				text-decoration: none;
				font-weight: 700;
				&.ativo {
					color:#fff;
				}
				&:hover {
					color:#fff;
				}
			}
		}
	}
	#nav-mobile { /* a fazer... */
		display: none;
	}
}

#sobre #skill {  /* tabela skills */
	div#tools {
		padding-left: 30px;
		li {
			font-size: .9em;
			padding: 0 0 0;
		}
	}
}

#sobre #cv {
	li {
		margin-bottom: 10px;
	}
}

#work {
	div#portfolio {
		width: 705px;
		margin: 75px 0 50px 35px;
		padding-left: 0!important;
		div.thumb {
			width: 215px;
			position:relative;
			margin-left: 30px;
			float: left;
			div.caption {
				width: 215px;
				height: 135px;
				position: absolute;
				top: 0;
				left: 0;
				display: none;
				background-color: #01244c;
				opacity: .60;
			}
			p {
				text-transform: uppercase;
				font-size: .7em;
				line-height: 1.4em;
				margin:0;
				a {
					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
		.first {
			margin-left: 0!important;
		}
	}
}

#blog {
	width: 100%;
	height: auto;
	div.code {
		color:#000;
	}
	div.down a {
		color: orange;
		border: 2px solid #ffc;
	}
}

/*
	
	SITES PORTFOLIO

*/

.site {
	display: none;
	div.proj_container {
		width: 440px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		div.proj {
			width: 440px;
			height: 540px;
			float: left;
			position: relative;
			div.info {
				display: none;
				background-color: #fff;
				opacity: .9;
				position: absolute;
				bottom:30px;
				left: 0;
				width: 440px;
				height: 300px;
				div.txt {
					position: absolute;
					width: 440px;
					text-align: left;
					padding: 20px 30px 0 20px;
					color: #000;
					font-size: .9em;
					line-height: 1.8em;
				}
			}
			div.label {
				width: 440px;
				position: absolute;
				z-index: 3;
				text-align: left;
				margin: 0 auto;
				font-size: .8em;
				color: #fff;
				a {
					color: #fff;
				}
				span {
					float: right;
					i {
						cursor: hand;
					}
				}
			}
		}
	}
}

div.navigation {
	position: absolute;
	top:200px;
	width:100%;
	height:50px;
	padding-left: 0;
	a {
		display:block;
		position:absolute;
		top: 0;
		padding: 10px;
		cursor: pointer;
		font-size: 1.2em;
		&.nextImg {
			right:0;
		}
		&.prevImg {
			left:0;
		}
		&:hover {
			text-decoration: none;
			color:#fff;
		}
	}
}

/* navegação slideshow com bullets */
ul#slidenav { 
	width: 440px;
	margin: 20px auto 0;
	padding: 0;
	text-align: center;
	list-style: none;
	li {
		 float: left;
		 margin-left: 10px;
		 a {
			height: 12px;
			width: 12px;
			display: inline-block;
			border-radius: 12px;
			&.active, &:hover {
				background-color:#fff;
			}
		}
	}
}

/*

	change style

*/

div#switch {
	position: fixed;
	right: 0;
	top: 40%;
	border-right: none;
	z-index: 400;
	span {
		display: block;
		padding: 10px 20px 0 0;
		cursor: pointer;
		i {
			&:hover {
				color:#fff;
			}
		}
	}
}

/*

	clearfix

*/

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility: hidden;
}


.clearfix {display:inline;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

 @import 'responsive.less';