@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
/*@azul: #caddf2;*/
body,
html {
  margin: 0;
  height: 100%;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  /* evitar que as fontes sejam automaticamente bold no Mac. */
  font: 16px/1.5em 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
}
div {
  box-sizing: border-box;
}
a {
  color: #fff;
}
#warning {
  display: none;
  padding: 4px;
  font-size: .8em;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
/*

	header

*/
header {
  position: fixed;
  width: 100%;
  z-index: 3;
}
header div {
  width: 800px;
  padding: 50px 0 0;
  margin: 0 auto;
  color: #fff;
  text-align: right;
}
header div h1 {
  float: left;
  margin: -10px 0 0;
  display: inline-block;
  font-weight: normal;
}
/*

	divs animadas

*/
.panel {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 4;
  padding: 1px 0;
  /* evitar margin-collapsing */
}
.panel div.area {
  position: relative;
  padding: 0;
  width: 740px;
  margin: 0 auto;
  top: 15%;
}
/*

	onde entra o texto estilo código e conteúdo em geral

*/
div.code {
  color: #fff;
  text-align: left;
}
div.code > div {
  padding-left: 35px;
  /* estilo indentado */
}
div.code h3 {
  font-size: 1.3em;
  margin: 0 0 20px;
  padding: 0;
}
div.code span.selector {
  font-style: italic;
}
div.code span.html {
  margin: 0 0 20px;
  padding: 0;
}
/*

	div com display table

*/
.col-wrap {
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.col-wrap .col-body {
  display: table-row;
}
.col-wrap .col-body .cell {
  display: table-cell;
  width: 50%;
}
/*

	sections

*/
#main-panel div.area {
  width: 510px;
  height: 170px;
  top: 35%;
}
#main-panel div.area div.code {
  font-size: 1.6em;
  line-height: 1.4em;
}
#sobre #nav {
  margin-right: -35px;
  margin-top: 50px;
  width: 705px;
}
#sobre #nav .cell {
  font-size: .9em;
  cursor: pointer;
  width: 25%!important;
  text-align: center;
}
#sobre #nav .cell a {
  text-decoration: none;
}
#sobre #nav .cell.ativo,
#sobre #nav .cell a:hover {
  color: #fff;
}
#sobre #nav .cell h4 {
  margin: 10px;
}
#sobre #skill,
#sobre #bio {
  display: none;
}
#sobre #skill {
  height: 240px;
}
#sobre #skill h4 {
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
}
#sobre #skill ul {
  margin: 0;
  padding: 0;
}
#sobre #skill ul li {
  list-style-type: none;
  padding: 0;
}
#sobre #skill ul li span {
  /*font-weight: 800;*/
}
#sobre #skill div#tools {
  padding-left: 30px;
  border-left: 1px solid #9db9da;
}
#work div#portfolio {
  padding-left: 0!important;
  margin: 12% auto 0;
  width: 610px;
  height: 230px;
  overflow: hidden;
  position: relative;
}
#work div#portfolio div.site {
  height: 230px;
  float: left;
  position: relative;
}
#work div#portfolio div.site img {
  max-width: 100%;
}
#work div#portfolio div.site div.info {
  text-align: left;
  margin: 0 auto;
  font-size: .8em;
}
#work div#portfolio div.site div.info span {
  float: right;
}
#work ul#slidenav {
  width: 610px;
  margin: 30px auto 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
#work ul#slidenav li {
  float: left;
  margin-left: 10px;
}
#work ul#slidenav li a {
  height: 12px;
  width: 12px;
  display: inline-block;
  border-radius: 12px;
}
#work ul#slidenav li a.active,
#work ul#slidenav li a:hover {
  background-color: #fff;
}
#work p.link {
  text-align: right!important;
  width: 610px;
  margin: -30px auto 0;
  text-align: center;
  font-size: .8em;
  color: #fff;
}
/*

	change style

*/
div#switch {
  position: fixed;
  right: 0;
  top: 40%;
  border: 1px solid #fff;
  border-right: none;
  color: #fff;
  z-index: 400;
}
div#switch span {
  display: block;
  padding: 15px;
  cursor: pointer;
}
div#switch span i {
  color: #fff;
}
/*

	botão nav

*/
div#down {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  z-index: 400;
}
div#down .tooltip {
  display: none;
  font-family: 'Droid Sans';
  padding: 10px;
  color: #fff;
  font-size: .9em;
}
div#down a {
  color: #fff;
  text-decoration: none;
}
/*

	clearfix

*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/*

	media queries

*/
@media only screen and (max-width: 820px) {
  #warning {
    display: block;
  }
  header div {
    width: 700px;
  }
  #sobre div.area,
  #work div.area {
    width: 640px!important;
  }
  #sobre #nav {
    width: 605px;
  }
}
@media only screen and (max-width: 740px) {
  #warning {
    display: block;
  }
  header div {
    width: 640px;
  }
  #sobre div.area,
  #work div.area {
    width: 580px!important;
  }
  #sobre #nav {
    width: 555px;
  }
}
@media only screen and (max-width: 680px) {
  #warning {
    display: block;
  }
  header {
    display: none;
  }
  #sobre div.area,
  #work div.area {
    width: 560px!important;
  }
  #sobre #nav {
    width: 525px;
  }
}
@media only screen and (max-width: 460px) {
  #warning {
    display: block;
  }
  header {
    display: none;
  }
  #sobre div.area,
  #work div.area {
    width: 360px!important;
    top: 6%;
  }
  #sobre div.area div.code > div,
  #work div.area div.code > div {
    padding-left: 0;
  }
  #sobre #nav {
    width: 360px;
  }
  #switch {
    display: none;
  }
  #down {
    bottom: 3%!important;
  }
}
