@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300|Montserrat:400,700);

/*

	variáveis

*/


@azul:#9db9da;

@azulfundo:#22456a;

@azulblusa: #193859;

@orange:#cc6600;

@amarelo:#e8b64c;

@amarelo:#ffffcc;


/*

	botão

*/

.btn(@color,@bgcolor) {
	font-size: 1.2em;
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	color:@color;
	background-color:@bgcolor;
	&:hover {
		color:@bgcolor;
		background-color: @color;
	}
	i {
		line-height:.8em;
	}
}

.header_uppercase {
	text-transform: uppercase;
	font-size: .9em;
	line-height: 1.3em;
	font-weight: 700;
}

body, html { 
	margin: 0;
	height: 100%;
	background-size: cover;
	-webkit-font-smoothing: antialiased; /* evitar que as fontes sejam automaticamente bold no Mac. */
	font-size: 16px;
	line-height: 1.5em;
	text-align: center;
}

section, div, ul, li, p {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.panel {
	background: url("../img/bg_orange.png") no-repeat 50% 50% fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 4;
	padding: 1px 0; /* evitar margin-collapsing */
}

div.area {
	text-align: left;
	color:#fff;
	position: relative;
	padding: 0;
	width: 740px;
	margin: 0 auto;
	top: 15%;
}

div.btn {
	width: 100%;
	text-align: center;
	a {
		.btn(#fff, @azulfundo);
	}
}

/*

	div display table

*/

.col-wrap {
	display:table;
	border-collapse:collapse;
	width: 100%;
	.col-body {
		display:table-row;
		.cell {
			display:table-cell;
			width: 50%;
		}
	}
}

/*

	sections

*/

#cover {
	div.area {
		text-align: center;
		width: 380px;
		height: 170px;
		top: 35%;
		header {
			h1 {
				font-family: 'Montserrat';
				font-size: 1.8em;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0 0 15px;
			}
			h2 {
				font-family: 'Merriweather';
				font-size: 1.3em;
				font-weight: 300;
				margin: 0 0 30px;
				color: #000;
			}
		}
	}
}

#main {
	background-image: url("../img/bg_blue.png");
	div.btn {
		position: absolute;
		bottom: 4%;
		a {
			.btn(#fff, @azulblusa);
		}
	}
	nav {
		ul {
			margin: 0;
			padding: 0;
			border-left: 1px solid @azul;
			li {
				list-style-type: none;
				margin: 0;
				padding: 0;
				font-family: 'Montserrat';
				font-weight: 700;
				text-transform: uppercase;
				font-size: .7em;
				cursor: pointer;
				text-align: left;
				a {
					margin: 0;
					padding:0 20px;
					display: inline-block;
					text-decoration: none;
					color: @azul;
					&.ativo {
						color: #fff;
					}
					&:hover {
						color:#fff;
					}
				}
			}
		}
	}
	h4 {
		font-family: 'Montserrat';
		font-weight: 700;
		margin-top: 0;
		text-transform: uppercase;
		font-size: 1.3em;
	}
	.eu { /* wrapper */
		display:none;
		min-height: 400px;
		position: relative;
		font-family: 'Merriweather';
		font-size: 1.1em;
		font-weight: 400;
		line-height: 1.7em;
		p:first-child {
			margin-top: 0;
		}
		a {
			color: @azul;
		}
		.back-to-bio {
			position: absolute;
			bottom: 0;
			right: 0;
			text-align: right;
			width: 100px;
			font-size: .9em;
			margin: 0;
			padding: 0;
		}
	}
	ul.nobull {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			padding: 0 0 5px;
		}
	}
	#nav {
		display: none;
		position: absolute;
		top: 5%;
		right: 2%;
	}
	a#icon {
		display: none;
		position: absolute;
		top:0;
		right:4%;
		width: 34px;
		height: 34px;
		color: #fff;
		border: 1px solid @azul;
		border-top: 0;
		text-align: center;
		line-height: 2em;
		z-index: 30;
		&:hover {
			background-color: @azul;
			color: @azulfundo;
		}
	}
	#nav-mobile {
		display: none;
		position: absolute;
		width: 100%;
		top:34px;
		left:0;
		z-index: 40;
		ul {
			border:0;
			border-top: 1px solid @azul;
			li a {
				text-align: center;
				display: block;
				width: auto;
				border-bottom: 1px solid @azul;
				background-color: @azulfundo;
				padding: 5% 0;
				font-size: 1.2em;
			}
		}
	}
	#bio {
		h4 {
			font-size: 1.3em;
		}
	}
	#skill {  /* tabela skills */
		.cell {
			border: 1px solid #fff;
			padding-left: 30px;
		}
		ul li i {
			color: @azul;
		}
		h3 {
			font-size: .8em;
			font-family: 'Montserrat';
			font-weight: 700;
			text-transform: uppercase;
		}
		div#tools {
			li {
				font-size: .9em;
				padding: 0 0 0;
			}
		}
	}
	#cv {
		li {
			margin-bottom: 20px;
		}
	}
}

#main #work {
	div#portfolio {
		width: 705px;
		margin: 45px 0 0 35px;
		padding-left: 0!important;
		div.thumb {
			width: 215px;
			position:relative;
			margin: 0 0 30px 30px;
			float: left;
			div.caption  {
				width: 215px;
				height: 135px;
				position: absolute;
				top: 0;
				left: 0;
				display: none;
				background:url('../img/bg.png') repeat;
				border:1px solid @azul;
				cursor:pointer;
				text-align: center;
				font-family: 'Montserrat';
				font-weight: 400;
				text-transform: uppercase;
				font-size: 1em;
				line-height: 1.3em;
				padding-top: 40px;
				a {
					color:@azul;
					text-decoration: none;
					&:hover {
						color:#fff;
					}
				}
			}
		}
		.first {
			margin-left: 0!important;
		}
	}
	div#portfolio + div {
		clear: both;
		margin: 0 0 0 35px;
		font-size: .9em;
	}
}

.lightbox {
	z-index: 5;
	display: none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background:url('../img/bg-lightbox-black.png') repeat;
	div.close {
		position: absolute;
		top: 3%;
		right: 3%;
		width: 20px;
		height: 20px;
		text-align: center;
		z-index: 400;
		a {
			color: #fff;
			&:hover {
				color: #666;
			}
		}
	}
}

div.proj_container {
	width: 440px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	div.proj {
		width: 440px;
		height: 540px;
		float: left;
		position: relative;
		div.info {
			background-color: @azulblusa;
			opacity: .9;
			position: absolute;
			bottom: 30px;
			left: 0;
			width: 440px;
			height: 40px;
			div.txt {
				position: absolute;
				width: 440px;
				padding: 10px 0 0 20px;
				font-family: 'Montserrat';
				text-transform: uppercase;
				font-weight: 400;
				font-size: .8em;
				line-height: 1.6em;
			}
		}
		div.label {
			width: 440px;
			position: absolute;
			z-index: 3;
			text-align: left;
			margin: 0 auto;
			font-family: 'Montserrat';
			text-transform: uppercase;
			font-weight: 400;
			font-size: .7em;
			line-height: 1.8em;
			a {
				color: @azul;
				&:hover {
					text-decoration:none;
					color: #fff;
				}
			}
			span {
				float: right;
				i {
					cursor: hand;
				}
			}
		}
	}
}

div.navigation {
	position: absolute;
	top:200px;
	width:100%;
	height:50px;
	padding-left: 0;
	a {
		display:block;
		position:absolute;
		top: 0;
		padding: 10px;
		cursor: pointer;
		font-size: 1.2em;
		&.nextImg {
			right:0;
		}
		&.prevImg {
			left:0;
		}
		&:hover {
			text-decoration: none;
			color:#fff;
		}
		&.off {
			color: #666;
		}
	}
}

ul#slidenav { 
	width: 440px;
	margin: 20px auto 0;
	padding: 0;
	text-align: center;
	list-style: none;
	li {
		 float: left;
		 margin-left: 10px;
		 a {
			height: 12px;
			width: 12px;
			display: inline-block;
			border-radius: 12px;
			&.active, &:hover {
				background-color:#fff;
			}
		}
	}
}

/*

	clearfix

*/

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility: hidden;
}


.clearfix {display:inline;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}