@azul: #caddf2;

@amarelo: #ffffcc;

@pink: #fed6fe;

@orange: #cc6600;

body, html { 
	background: url("../img/mandarim.jpg") no-repeat 50% 50% fixed;
	background-size: cover;
}

a {
	color:@amarelo;
}

/*

	onde entra o texto estilo código e conteúdo em geral

*/

div.code {
	h3 {
		color: @amarelo;
	}
	span.html {
		color: @amarelo;
	}
}

/*

	sections

*/

#sobre {
	background: url("../img/mandarim_home.png") no-repeat 50% 50% fixed;
	ul li i {
		color: @amarelo;
	}
	div#tools {
		border-left: 1px solid @amarelo;
	}
}

#sobre {
	#nav .cell {
		border-top: 1px solid @amarelo;
		color: @amarelo;
		a {
			color: #fff3bb;
		}
	}
}

#work {
	div#portfolio {
		div.thumb {
			/*background-color: #571400;*/
			div.caption {
				background-color: #571400;
			}
		}
	}
	p.link {
		color:@amarelo;
	}
}

#skill {
	div#tools {
		border-left: 1px solid @amarelo;
	}
}

div#switch {
	span {
		i {
			color: @amarelo;
		}
	}
}

/*

	botão nav

*/

div.down {
	/*background-color: @orange;*/
	.tooltip {
		color: @amarelo;
	}
	a {
		color: @amarelo;
		/*border:2px solid @amarelo;*/
	}
}