/*

	MEDIA QUERIES

*/

/* 

	a partir de 840px de largura para baixo some o controle switch (troca de css).

*/

@media only screen and (max-width : 840px) {
	#switch {
		/*display: none;*/
	}
}

/* 

	a partir de 520px de altura para baixo some a seta 'down' (menos na landing page).

*/

@media only screen and (max-height : 520px) {
	#sobre, #work {
		#down {
			display: none;
		}
	}
}

/* 

	a partir de 780px de largura pra baixo a largura das divs passa a ser relativa.
	e o header também.
 
*/

@media only screen and (max-width : 780px) {

	header div {
		width: auto;
		padding: 50px 1.2em 0;
	}
	
	#sobre, #work {
		width:auto!important;  /* panels 100% atrapalha o layout responsivo */
		height:auto;
		div.area {
			width:auto;
			height: auto;
			padding:0 3.5em 0 2em;
			margin-top: 25%; /* top não funciona mais com width:auto, pelo menos no FF */
		}
	}

}

/* 

	a partir de 610px de largura para baixo o header desaparece.

*/

@media only screen and (max-width : 610px) {
	header {
		display: none;
	}
	#sobre, #work {
		div.area {
			margin-top: 10%; /* já que não tem mais header, conteúdo sobe */
		}
	}
}

/* 

	a partir de 560px de largura para baixo somem os rótulos da navegação e ficam apenas os ícones.

*/

@media only screen and (max-width : 560px) {
	#nav {
		.cell {
			span {
				display: none;
			}
		}
	}
}

/*

	iPhone 4, a menor das larguras relevantes

*/

@media only screen and (max-width : 320px) {
	#main-panel {
		div.area {
			width: 300px;
		}
		#mobile {
			display: block;
		}
		#full {
			display: none;
		}
	}
	#sobre {
		padding-bottom: 30px;
		#nav {
			display: none;
		}
	}
	#work {
		display: none;
	}
}

