/*

	MEDIA QUERIES

*/

@media only screen and (max-width : 320px)  and (max-width : 480px) {


	#cover, #main {
		width:auto!important;  /* panels 100% atrapalha o layout responsivo */
		height:auto;
		div.area {
			width:auto;
			height: auto;
		}
	}

	#cover {
		div.area {
			margin-top: 50%; 
		}
	}

	#main {
		#nav, #nav-mobile {
			display: none;
		}
		div.area {
			padding: 7%;
			font-size: .9em;
		}
		div#skill {
			.col-wrap {
				display:block;
				width: 100%;
				.col-body {
					display:block;
					.cell {
						display:block;
						width: auto;
						border: none;
					}
				}
			}
		}
	}

}